body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0.1px;
    background: black;
}

.show .hero-container {
    overflow: hidden;
}


.hero-container::-webkit-scrollbar {
    display: none;
  }

.show html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}


html:focus-within {
  scroll-behavior: smooth;
}
html {
    scrollbar-width: none;
  }



.hero-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}


#img1 {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.scale-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: transform 0.5s;
}




#img2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.box-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boxes {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    color: rgb(5, 4, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    font-weight: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: rgb(255, 255, 255);
}

.box1 > p {
    font-size: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxes > img {
    max-width: 30%;
    height: auto;
}

/* @media (hover: hover) {
.boxes:hover {
    cursor: pointer;
    background-color: rgb(246, 246, 246);
    transition: background-color 0.3s, color 0.3s;
    color: rgb(0, 0, 0);
}
} */


button {
 font-size: 30px;
 letter-spacing: 2px;
 display: inline-block;
 text-align: center;
 padding: 0.7em 2em;
 border: 3px solid black;
 border-radius: 2px;
 position: relative;
 color: #000000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration: none;
 transition: 0.3s ease all;
 z-index: 1;
 background-color: transparent;
}

button:before {
 transition: 0.5s all ease;
 position: absolute;
 top: 0;
 left: 50%;
 right: 50%;
 bottom: 0;
 opacity: 0;
 content: '';
 background-color: #000000;
 z-index: -1;
}

button:hover, button:focus {
 color: white;
}

button:hover:before, button:focus:before {
 transition: 0.5s all ease;
 left: 0;
 right: 0;
 opacity: 1;
}

button:active {
 transform: scale(0.9);
}


.pp1 {
    text-align: center;
    font-size: 9em;
    color: white;
    opacity: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateX(10%);
}



.onload .pp1 {
    opacity: 1;
    transform: translateX(0%);
    transition-timing-function: ease-in-out;
    transition: opacity 2s, transform 2.2s;
}




.pp3 {
    text-align: center;
    font-size: 11em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pp3 > span {
    color: rgb(250, 213, 48);
}

#img3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.menu-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-top-section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: start;
    top: 0;
    left: 0;
}

  .menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s, opacity 0.5s;
  }

.hamburger-container {
    z-index: 10;
    margin-left: 80px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(100%);
    align-items: center;
    cursor: pointer;
    height: 45%;
    transform: translateX(200%);
    transition: transform 1s;

}



.hamburger-layer {
    border-radius: 10px;
    width: 65px;
    height: 5px;
    background-color: white;
    transition: background-color 0.5s;
}

.show .hamburger-layer{
    background-color: black;
    transition: background-color 0.5s;
}

.onload .hamburger-container {
    opacity: 1;
    transform: translateX(0%);
    transition-timing-function: ease-in-out;
    transition: opacity 5s, transform 2.2s;
}



.hero-image {
    -webkit-scroll-snap-align: start;
    scroll-snap-align: start;
  }


  .menu-item {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: rgb(14, 3, 44);
    justify-content: end;
    align-items: center;
    margin-right: 150px;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.5s;
    cursor: pointer;
  }

  .show .menu-container {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.5s, opacity 0.5s;
}

.show .scale-container {
    transform: scale(0.5);
    transition: transform 0.5s;
}

@media (hover: hover) {
  .menu-item:hover{
    color: rgb(19, 91, 173);
    transition: color 0.5s;
}
}

button {
 padding: 0.8em 1.8em;
 border: 2px solid #000000;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 font-size: 25px;
 transition: .3s;
 z-index: 1;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #000000;
}

button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;

 background: #000000;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}




  @media only screen and (max-width: 650px) {

    
    .pp1 {
        text-align: center;
        font-size: 4em;
        color: white;
    }
    
    .pp3 {
        text-align: center;
        font-size: 3em;
        color: rgb(255, 255, 255);
    }

    .hero-top-section {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: start;
        top: 10px;
        left: 0;
    }
    
    .hamburger-container {
        margin-top: 35px;
        margin-left: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        align-items: center;
        cursor: pointer;
    }
    
    .hamburger-layer {
        border-radius: 10px;
        width: 50px;
        height: 4px;
        background-color: white;
        transition: transform 0.5s, background-color 0.5s;
    }


    .menu-item {
        display: flex;
        width: 100%;
        height: 100%;
        color: rgb(14, 3, 44);
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        margin-right: 60px;
        text-align: center;
        font-size: 1.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      button {
          font-size: 25px;
      }

      #img2 {
          flex-direction: column;
      }


      .menu-container {
          position: static;
      }

    .box-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .boxes {
        width: 50%;
        height: 50%;
        background: rgb(96, 143, 225);
        margin: 1em;
        transform: scale(1);
        transition: transform 0.5s;
    }


  }



